.postshowoptions{
    
    width:100%;
    display:flex;
    margin-bottom:10px;

}
.post{
  padding-bottom: 20px !important;
}
.comments{
  padding:10px;
  margin-top:20px;
  margin-bottom: 20px;
}
.singlecomment{
  margin:0 5px;
  border-radius: 10px;
  padding:10px;
  
}
.replaycomment{
  margin-top:5px;
  margin-bottom: 5px;
  border-radius: 10px;
  padding:10px;
  background-color:#34495e;
  color:white;
}
.selectchoices{
    margin-left:5px;
    height:40px;
    width:40%;
    padding:5px;
    border-style:none;
    
}
.valide{
    margin-left:5px;
    border-style:none;
    height:40px;
    width:20%;
}

.searchwords{
    margin-left:5px;
    padding:5px;
    border-style:none;
    height:40px;
    width:20%;
}
.datepost{  
    margin-left:5px;
    padding:5px;  
    border-style:none;
    height:40px;
    width:20%;
}
.dateclass {
    padding:5px;  
    border-style:none;
    height:40px;
    width:20%;
  }
  
  .dateclass.placeholderclass::before {
      direction:rtl;
    width: 100%;
    content: attr(placeholder);
  }
  
  .dateclass.placeholderclass:hover::before {
    width: 0%;
    content: "";
  }


  /* HOME PAGE */
  .formintro{
    background-color: #f5f5f5;
    border:none;
  }
  .formdescription{
   width:80%;
    border:none;
  }
  .formadresse{
    border:none;
  }
  .margin{
      margin:20px;
  }
  .bottomleft{
      
      position:absolute;
      left:10px;
      bottom:10px;
  }

  /* Change Pw view */
  .width60{
    width: 60%;
  }
  .inputstyle{
    margin-top:10px;
    border-radius:8px;
  }
  .divfile{
    padding-top:5px;
    width:200px;
    margin:0 auto;
    text-align: center;
  }
  .upload-btn-wrapper {
    
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btnchange {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .userlogo{
    border-radius:50%;
    width:80px !important;
    height:80px !important;
  }

  .writers{
      width:100%;

  }
  .writer{
      margin:5px;
      float:right;
      border-radius:10px;
      padding:20px;
      text-align: center;
      width:24%;
      background-color: #f5cd79;
  }
  .WriterName{
      text-align: center;

  }